################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/githubapi
/githubapi/bin
/githubapi/obj
/githubapi.Tests/bin
/githubapi.Tests/obj