@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="row">
    <div class="col-md-12">
        <form>
            @if (ViewBag.Result != null)
            {
                List<GitHubUser> userDetails = ViewBag.Result as List<GitHubUser>;
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>@userDetails.Count</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Type GitHub usernames (comma-separated)" name="q" value="@Context.Request.Query["q"]" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>